<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524660018592-cbg65ibcs4gstqffpq3fpeo08l6gegpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524660018592-cbg65ibcs4gstqffpq3fpeo08l6gegpn</string>
	<key>API_KEY</key>
	<string>AIzaSyAQhlLh2JF2MeyUH0hM7KPOb9NDApCWvJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>524660018592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.adriano.lojavirtual.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>flutter-estudos-loja-virtual</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-estudos-loja-virtual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524660018592:ios:26b4ef2fbd21863339a8c5</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-estudos-loja-virtual.firebaseio.com</string>
</dict>
</plist>